
/* 大屏幕设备优先：大屏幕 桌面在1200px以上 */
/* 大型设备（大台式电脑，1200px以上） */
/* 中等屏幕992px-1200px */
@media (width <= 1200px) {
    .wp {
        width: 90%;
    }
}

/* 小屏幕 768px-992px */
/*小型设备（平板电脑，992px以下）*/
@media (width <= 992px) {
    .wp {
        width: 800px !important;
    }
}
/*注意：此时超小屏幕和小屏幕在768px之间有冲突，怎么解决？
把超小屏幕的区间降低1px*/
@media (width <= 668px) {
    .wp {
        width: 400px !important;
    }
}